<body>
<h1 id="greeting">
  Welcome to TrafficSpy!
</h1>

<div id="urls">
  <% @urls.each do |url| %>
    <h3><%= url.url %></h3>
  <% end %>
  <!--<p>http://jumpstartlab.com/blog</p>-->
</div>

</body>
